<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common-header"/>
<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"></div>
        <p>Veuillez patienter...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <div th:replace="fragments/common :: navbar"/>

    <div th:replace="fragments/common :: sidebar"/>


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Tableau de Bord</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Programmer un rendez-vous</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div th:replace="fragments/common :: body-bottom-scripts"/>
</body>

</html>
