<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common-header"/>
<body class="theme-cyan">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"></div>
        <p>Veuillez patienter...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->

<div id="wrapper">

    <div th:replace="fragments/common :: navbar"/>

    <div th:replace="fragments/common :: sidebar"/>


    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Tableau de Bord</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Tableau de Bord</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2> <img src="images/ecommerce/visa-card.png" class="m-r-5"> 
                                COMPTE COURANT : N° 
                                <span th:text="${primaryAccount.accountNumber}"></span>
                            </h2>         
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1><strong>$ <span th:text="${#numbers.formatInteger(primaryAccount.accountBalance,3,'POINT')}"></span></strong></h1>
                                    <hr>
                                    <p>5 dernières transactions</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="sparkline m-b-20" data-type="bar" data-width="97%" data-height="60px" data-bar-Width="3" data-bar-Spacing="8" data-bar-Color="#00ced1">2,-1,5,6,4,8,7,-5,6,2,3,5,6,2,-3,4,-2</div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th data-breakpoints="sm xs">Type</th>
                                        <th data-breakpoints="xs">Montant</th>
                                        <th data-breakpoints="xs md">Solde Disponible</th>
                                        <th data-breakpoints="xs md">Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="eachPrimaryTransaction : ${primaryTransactionList}">
                                        <td data-th-text="${#dates.format(eachPrimaryTransaction.date, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                        <td data-th-text="${eachPrimaryTransaction.description}"></td>
                                        <td data-th-text="${eachPrimaryTransaction.type}"></td>
                                        <td data-th-text="${#numbers.formatInteger(eachPrimaryTransaction.amount,3,'POINT')}"></td>
                                        <td data-th-text="${#numbers.formatInteger(eachPrimaryTransaction.availableBalance,3,'POINT')}"></td>
                                        <th><i class="fa fa-circle text-success"></i></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2> <img src="images/ecommerce/visa-card.png" class="m-r-5">
                                COMPTE EPARGNE : N°
                                <span th:text="${savingsAccount.accountNumber}"></span>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1><strong>$ <span th:text="${#numbers.formatInteger(savingsAccount.accountBalance,3,'POINT')}"></span></strong></h1>
                                    <hr>
                                    <p>5 dernières transactions</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="sparkline m-b-20" data-type="bar" data-width="97%" data-height="60px" data-bar-Width="3" data-bar-Spacing="8" data-bar-Color="#00ced1">2,-1,5,6,4,8,7,-5,6,2,3,5,6,2,-3,4,-2</div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th data-breakpoints="sm xs">Type</th>
                                        <th data-breakpoints="xs">Montant</th>
                                        <th data-breakpoints="xs md">Solde Disponible</th>
                                        <th data-breakpoints="xs md">Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="eachSavingsTransaction : ${savingsTransactionList}">
                                        <td data-th-text="${#dates.format(eachSavingsTransaction.date, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                        <td data-th-text="${eachSavingsTransaction.description}"></td>
                                        <td data-th-text="${eachSavingsTransaction.type}"></td>
                                        <td data-th-text="${#numbers.formatInteger(eachSavingsTransaction.amount,3,'POINT')}"></td>
                                        <td data-th-text="${#numbers.formatInteger(eachSavingsTransaction.availableBalance,3,'POINT')}"></td>
                                        <th><i class="fa fa-circle text-success"></i></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-6">
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon text-info"><i class="fa fa-building"></i> </div>
                            <div class="content">
                                <div class="text">Faire un virement</div>
                                <h5 class="number">sur un compte</h5>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-12">
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon"><i class="fa fa-tag"></i> </div>
                            <div class="content">
                                <div class="text">Faire un virement</div>
                                <h5 class="number">entre compte</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon"><i class="fa fa-tag"></i> </div>
                            <div class="content">
                                <div class="text">Faire un virement</div>
                                <h5 class="number">a un bénéficiaire</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon text-warning"><i class="fa fa-area-chart"></i> </div>
                            <div class="content">
                                <div class="text">Ajouter</div>
                                <h5 class="number">un bénéficiaire</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card top_counter">
                        <div class="body">
                            <div class="icon text-danger"><i class="fa fa-shopping-cart"></i> </div>
                            <div class="content">
                                <div class="text">Demander</div>
                                <h5 class="number">un rendez-vous</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body text-center">
                            <h6 class="m-b-20">
                                <h1><a href="" class="fa fa-shopping-cart"></a></h1>
                            </h6>
                            <h4 class="margin-0">Ajouter un bénéficiaire</h4>
                            <h6 class="p-b-15"</h6>
                            <h6></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>BENEFICIAIRES</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><p>5 premiers bénéficiaires prioritaires</p></h4>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0">
                                    <tbody>
                                    <tr>
                                        <th><i class="fa fa-circle text-success"></i></th>
                                        <td>Twitter</td>
                                        <td><span>862 Records</span></td>
                                        <td>35% <i class="fa fa-caret-up "></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle text-info"></i></th>
                                        <td>Facebook</td>
                                        <td><span>451 Records</span></td>
                                        <td>15% <i class="fa fa-caret-up "></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle text-warning"></i></th>
                                        <td>Mailchimp</td>
                                        <td><span>502 Records</span></td>
                                        <td>20% <i class="fa fa-caret-down"></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle text-danger"></i></th>
                                        <td>Google</td>
                                        <td><span>502 Records</span></td>
                                        <td>20% <i class="fa fa-caret-up "></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle "></i></th>
                                        <td>Other</td>
                                        <td><span>237 Records</span></td>
                                        <td>10% <i class="fa fa-caret-down"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body text-center">
                            <h6 class="m-b-20">
                                <h1><a href="" class="fa fa-shopping-cart"></a></h1>
                            </h6>
                            <h4 class="margin-0">Ajouter un rendez-vous</h4>
                            <h6 class="p-b-15"</h6>
                            <h6></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>RENDEZ VOUS</h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><p>5 derniers rendez-vous</p></h4>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover m-b-0">
                                    <tbody>
                                    <tr>
                                        <th><i class="fa fa-circle text-success"></i></th>
                                        <td>Twitter</td>
                                        <td><span>862 Records</span></td>
                                        <td>35% <i class="fa fa-caret-up "></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle text-info"></i></th>
                                        <td>Facebook</td>
                                        <td><span>451 Records</span></td>
                                        <td>15% <i class="fa fa-caret-up "></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle text-warning"></i></th>
                                        <td>Mailchimp</td>
                                        <td><span>502 Records</span></td>
                                        <td>20% <i class="fa fa-caret-down"></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle text-danger"></i></th>
                                        <td>Google</td>
                                        <td><span>502 Records</span></td>
                                        <td>20% <i class="fa fa-caret-up "></i></td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-circle "></i></th>
                                        <td>Other</td>
                                        <td><span>237 Records</span></td>
                                        <td>10% <i class="fa fa-caret-down"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <hr>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Vos dernières activités sur la plateforme</h2>
                        </div>
                        <div class="body">
                            <div class="timeline-item green" date-is="20-04-2018 - Today">
                                <h5>Hello, 'Im a single div responsive timeline without media Queries!</h5>
                                <span><a href="javascript:void(0);">Elisse Joson</a> San Francisco, CA</span>
                                <div class="msg">
                                    <p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web card she has is the Lorem card.</p>
                                    <a href="javascript:void(0);" class="m-r-20"><i class="icon-heart"></i> Like</a>
                                    <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="icon-bubbles"></i> Comment</a>
                                    <div class="collapse m-t-10" id="collapseExample">
                                        <div class="well">
                                            <form>
                                                <div class="form-group">
                                                    <textarea rows="2" class="form-control no-resize" placeholder="Enter here for tweet..."></textarea>
                                                </div>
                                                <button class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="timeline-item blue" date-is="19-04-2018 - Yesterday">
                                <h5>Oeehhh, that's awesome.. Me too!</h5>
                                <span><a href="javascript:void(0);" title="">Katherine Lumaad</a> Oakland, CA</span>
                                <div class="msg">
                                    <p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. on the web by far... While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.</p>
                                    <div class="timeline_img m-b-20">
                                        <img class="w-25" src="images/blog/blog-page-4.jpg" alt="Awesome Image">
                                        <img class="w-25" src="images/blog/blog-page-2.jpg" alt="Awesome Image">
                                    </div>
                                    <a href="javascript:void(0);" class="m-r-20"><i class="icon-heart"></i> Like</a>
                                    <a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"><i class="icon-bubbles"></i> Comment</a>
                                    <div class="collapse m-t-10" id="collapseExample1">
                                        <div class="well">
                                            <form>
                                                <div class="form-group">
                                                    <textarea rows="2" class="form-control no-resize" placeholder="Enter here for tweet..."></textarea>
                                                </div>
                                                <button class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-item warning" date-is="21-02-2018">
                                <h5>An Engineer Explains Why You Should Always Order the Larger Pizza</h5>
                                <span><a href="javascript:void(0);" title="">Gary Camara</a> San Francisco, CA</span>
                                <div class="msg">
                                    <p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, is the Lorem card.</p>
                                    <a href="javascript:void(0);" class="m-r-20"><i class="icon-heart"></i> Like</a>
                                    <a role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2"><i class="icon-bubbles"></i> Comment</a>
                                    <div class="collapse m-t-10" id="collapseExample2">
                                        <div class="well">
                                            <form>
                                                <div class="form-group">
                                                    <textarea rows="2" class="form-control no-resize" placeholder="Enter here for tweet..."></textarea>
                                                </div>
                                                <button class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div th:replace="fragments/common :: body-bottom-scripts"/>
</body>

<!-- Mirrored from www.wrraptheme.com/templates/lucid/html/light/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Jun 2019 10:20:08 GMT -->
</html>
