<!doctype html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/color_skins.css">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="vendor/toastr/toastr.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animate.css">
</head>
<body class="theme-cyan">
<!-- WRAPPER -->
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="card">
                    <div class="header">
                        <p class="lead">Connectez-vous à votre compte</p>
                    </div>
                    <div class="body">
                        <form class="form-auth-small" th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username" class="control-label sr-only">Nom Utilisateur</label>
                                <input type="text" class="form-control" id="username" name="username" value="" placeholder="Nom Utilisateur">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label sr-only">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password" value="" placeholder="Mot de passe">
                            </div>
                            <div class="form-group clearfix">
                                <label class="fancy-checkbox element-left">
                                    <input type="checkbox">
                                    <span>Se souvenir de moi</span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                            <div class="bottom">
                                <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a th:href="@{/page-forgot-password}">Mot de passe oublié ?</a></span>
                                <span>Vous n'avez pas de compte ? <a th:href="@{/page-register}">Créer un Compte</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
<script src="bundles/libscripts.bundle.js"></script>
<script src="bundles/vendorscripts.bundle.js"></script>

<script src="bundles/chartist.bundle.js"></script>
<script src="bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
<script src="vendor/toastr/toastr.js"></script>

<script src="bundles/mainscripts.bundle.js"></script>
</body>
</html>
